[target.x86_64-unknown-linux-gnu]
linker = "clang"

[target.aarch64-apple-darwin]
rustflags = [
    "-C",
    "link-arg=-fuse-ld=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ld",
    "-C",
    "link-arg=-ld_new",
]
