name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    environment: symbolica_keys
    runs-on: ubuntu-latest
    env:
      SYMBOLICA_LICENSE: ${{ secrets.SYMBOLICA_LICENSE }}

    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v7
      - name: Build
        run: nix build
      - name: Run tests
        run: nix flake check -v --print-build-logs
      - name: Run tarpaulin
        run: nix build .#spenso-tarpaulin-coverage
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          file: ./result/cobertura.xml
          fail_ci_if_error: true
